@charset "utf-8";

body {
  font-family: 'Karla', sans-serif;
  overflow-x: hidden;
}
.top-nav {
  position: fixed;
  width: 100%;
  height:100px;
  padding-top: 3px;
  background:url("../images/gradient.png") repeat-x;
  z-index: 1;
  min-width: 850px;
  a { 
    color:#fff; 
    &:hover { text-decoration: none;}
  }
  .event {
    background: url("../images/nightmarket.png") no-repeat;
    width:210px;
    height:25px;
    background-size: 100%;
    display: none;
    margin-left:-20px;
    list-style-type: none;
  }
  .about { margin-left: -50px;}
  .nav-links {
    float:left;
    li {
      float:left;
      font-size: 16px;
      color:#fff;
      &:nth-of-type(2) { 
        list-style-type:none; 
        a {margin-left:-50px;}
      }
      &:not(:first-of-type) { margin-left:30px; }
    }
  }
  .buy-tickets {
    float:right;
    p {
      color:#999999;
      margin-right: 15px;
      font-size: 16px;
      a {
        text-decoration: none;
        border: 1px solid #fff;
        padding:10px;
        margin-left: 10px;
      }
    }
  }
  &.white-nav{
    background: url("../images/header.png")repeat-x;
    height: 60px;
    min-width: 1050px;
    .event {display: block;}
    .nav-links {
      li:nth-of-type(2) a { margin-left:0px; }
    }
    a { 
      color:#000; 
      &.active {
        color:#30C57D;
        border-bottom: 1px solid #30C57D;
        padding-bottom: 2px;
      }

    }
    .buy-tickets {
      p {
        color:#30C57D;
        a {
          color:#fff;
          background: #30C57D;
        }
      }
    }
  }
}
.left-nav{
  position: absolute;
  width: 170px;
  top: 1800px;
  left: 50px;
  color: #fff;
  li {
    list-style-type: none;
    line-height: 25px;
    width: 175px;
    a {color:#fff;}
    &.active {
      a {color:#000;}
      background: url("../images/arrow.png") no-repeat;
      background-position: right 7px;
    }
  }
}
.wrap {
  width: 100%;
}
.image-text {
  display: block;
  font-size: 1px;
  text-indent: -20000px;
  background-size: 100%;
}

.left, .right {float:left;}

a { 
  text-decoration: none;
  color:#000;
  &:hover { text-decoration: underline;}
}

.parallax-window {
  min-height: 400px;
  background: transparent;
  &.white { 
    background: #FFFFFF; 
    overflow: hidden;
  }
}

.content {
  min-height: 400px;
  width:100%;
  &.green { background: #BFE352; }
  &.greener { background: #A1DE42; }
  &.greenest { background: #89D141; }
}
.hero {
  min-height:465px;
  width: 100%;
  .hero-content {
    padding-top:100px;
    h1 { 
      height:279px;
      width:267px;
      margin: 0 auto;
      background: url("../images/logo.png") no-repeat;
    }
    .the-stop {
      color:#fff;
      font-size: 14px;
      float:right;
      line-height: 90px;
      height:60px;
      span {
        height:60px;
        width:101px;
        background: url("../images/stop_logo.png") no-repeat;
        margin: 0 20px 0 5px;
        display: inline-block;
        background-size: 100%;
      }
    }
  }
}
.bigger-than-ever {
  height: 440px;
  .bigger {
    background: url("../images/bigger.png") no-repeat;
    background-size: 100%;
    height: 51px;
    width: 448px;
    margin:60px auto 30px auto;
  }
  .bigger-text {
    margin: 0 auto;
    width: 464px;
    line-height: 23px;
    font-size: 18px;
  }
  .more {
    background: url("../images/more.png") no-repeat;
    background-size: 100%;
    height: 105px;
    width: 359px;
    margin: 0 auto;
  }
  .left {
    text-align: right;
    color: #89D141;
    margin: 15px 37px 0 18px
  }
  .right {
    text-align: left;
    color: #A1DE42;
  }
}
.about {
  padding: 30px 10px;
  .inner {
    width:600px;
    margin:0 auto;
    color: #242923;
    padding-top:50px;
    height: 367px;
    .about-the-stop{
      background: url("../images/about.png") no-repeat;
      background-size: 100%;
      width:307px;
      height:21px;
    }
    p {line-height: 22px;}
  }
}

.lineup {
  .the-lineup {
    background: url("../images/lineup.png") no-repeat;
    background-size: 100%;
    height: 25px;
    width: 105px;
  }
  .lineup_category {
    min-width: 800px; 
    width: 70%;
    padding: 50px 0 0 320px;
    clear: both;
    overflow: hidden;
    &:first-of-type { padding-top: 75px; }
    &:last-of-type { padding-bottom: 75px; }
  }
  .category {
    font-weight: bold;
    font-size: 16px;
  }
  ul { 
    display: inline;
    overflow: hidden;
  }
  li {
    list-style-type: none;
    float:left;
    width:200px;
    padding-right: 30px;
    color:#000;
    font-size: 14px;
    line-height: 21px;
  }
  .designers-section {
    li {
      height: 130px;
      width: 200px;
      a { font-weight: bold; }
      p {
        margin:0;
        font-size: 13px;
      }
    }
  }
  .sponsors-section{
    overflow: hidden;
    img { 
      width:200px; 
      padding-right: 30px;
    }
  } 
  .committee-section {
    overflow: hidden;
    ul {
      display: block;
      padding-left:0;
    }
    li {
      cursor: pointer;
      span { padding:4px; }
      &:hover{
        span{
          background:#000;
          color: #fff
        }
      }
    }
    .member_info{
      display: none;
      padding-top:30px;
      .member_image {
        clear:both;
        float:left;
        img{ width: 110px; }
      }
      .member_bio{
        float:left;
        max-width: 470px; 
        line-height: 22px;
        margin-left:20px;
        span { font-weight: bold; }
      }
      &.lianne { display: block; }
    }
  }
}
.faq {
  overflow-x: hidden;
  padding: 75px 10px;
  .faq_image {
    background: url("../images/faq.png") no-repeat;
    background-size: 100%;
    height: 25px;
    width: 279px;
  }
  a { text-decoration: underline; }
  .questions {
    width: 800px;
    margin: 0 auto;
    .left {margin-right: 75px;}
    .question, .answer { width: 360px; }
    .question { font-weight: bold; }
    .answer {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
.content.details {
  overflow: hidden;
  min-height:266px;
  height:266px;
  background: url("../images/location.png") no-repeat;
  background-position: top right;
  padding: 0 10px;
  .info {
    width:600px;
    margin:50px auto 0 auto;
    p {
      line-height: 12px;
      span {
        color:#AFAEAE;
        display: inline-block;
        width:100px;
      }
      &.tickets{
        background: #8FD647 url("../images/tickets.png") no-repeat;
        background-size: 200px;
        width: 250px;
        padding: 22px;
        background-position: center center;
        margin:30px 0;
      }
      &.stop-id {
        font-size: 13px;
        color:#A5A6A6;
      }
    }
  }
}
