<div class="wrap">
  <div class="top-nav" id="top-nav">
    <div class="nav-links">
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#lineup">The Lineup</a></li>
        <li><a href="#faq">FAQ</a></li>
        <li><a href="#details">Event Details</a></li>
      </ul>
    </div>
    <div class="buy-tickets">
      <p>$100 all you can eat and drink!
        <a href="" class="buy">Buy Tickets</a>
      </p>
    </div>
  </div>
  <div class="left-nav" id="left-nav">
    <ul>
      <li class="day-one"><a href="#day-one-food">DAY ONE</a></li>
      <li class="day-one-food"><a href="#day-one-food">Food</a></li>
      <li class="day-one-drink"><a href="#day-one-drink">Drink</a></li>
      <li class="day-one-performers"><a href="#day-one-performers">Performers</a></li>
      <br>
      <li class="day-two"><a href="#day-two-food">DAY TWO</a></li>
      <li class="day-two-food"><a href="#day-two-food">Food</a></li>
      <li class="day-two-drink"><a href="#day-two-drink">Drink</a></li>
      <li class="day-two-performers"><a href="#day-two-performers">Performers</a></li>
      <br>
      <li class="designers"><a href="#designers">Designers</a></li>
      <li class="sponsors"><a href="#sponsors">Sponsors</a></li>
      <li class="committee"><a href="#committee">Committee</a></li>
    </ul>
  </div>
  <div class="parallax-window hero" data-parallax="scroll" data-image-src="images/1.png" data-bleed="50">
    <div class="hero-content">
      <h1 class="image-text">The Stop's Night Market</h1>
      <h2 class="the-stop">A fundraiser by <span class="image-text">The Stop community food centre</span></h3>
    </div>
  </div>
  <div class="parallax-window white bigger-than-ever" data-parallax="scroll">
    <h3 class="bigger image-text">BIGGER THAN EVER</h3>
    <h3 class="more image-text">Feed yourself more, feed everyone more</h2>
    <div class="bigger-text">
      <p class="left">
        Chefs’ creations.<br>
        Your favourite libations.<br>
        With a new location.<br>
        And more room for you<br>
        and your friends!<br>
      </p>
      <p class="right">
        All funds support The<br>
        Stop’s critical programs<br>
        that fight hunger, build<br>
        hope, and inspire change.
      </p>
    </div>
  </div>
  <div class="green content about" id="about">
    <div class="inner">
      <h3 class="about-the-stop image-text">About The Stop's Night Market</h3>
      <p>The Stop’s Night Market is a teeming feast for the eyes, belly, and heart. This annual fundraising event is a captivating mash-up of the best of Toronto’s street food, art, music, and offers Torontonians a unique chance to experience an iconic space like they’ve never seen it before. Inspired by night markets from around the world, The Stop’s Night Market transforms a public space into a tantalizing feast for the senses over two summer nights in June, featuring over 60 chefs, 20 local beverage vendors, and 35 one-of-a-kind food carts created by local designers.<br/><br/>
      Held for the first time in 2012, Toronto Life named The Stop’s Night Market as Reason No. 5 in their Reason’s to Love Toronto 2013 edition. BlogTO has called it “quite possibly the nicest, best catered summer soiree in the city.” In 2014, the event SOLD OUT in under an hour and raised over $300,000 for The Stop Community Food Centre’s critical anti-hunger and anti-poverty programs.</p>
    </div>
  </div>
  <div class="parallax-window" data-parallax="scroll" data-image-src="images/2.png" data-bleed="50"></div>
  <div class="green content day_one lineup" id="lineup">
    <div class="lineup_category" id="day-one-food">
      <h3 class="the-lineup image-text">The Lineup</h3>
      <p class="category">Food</p>
      <ul>
        <li><a href="http://www.ago.net">Art Gallery of Ontario</a></a></li>
        <li><a href="http://babiandco.com/">Babi&Co</a></li>
        <li><a href="http://boraliato.com/">Boralia</a></li>
        <li><a href="https://www.facebook.com/bluegoosepurefoods">Blue Goose</a></li>
        <li><a href="http://www.branca.ca/">Branca</a></li>
        <li><a href="http://dailoto.com/">Dailo</a></li>
        <li><a href="http://delicakitchen.ca/">Delica Kitchen</a></li>
        <li><a href="http://www.essentoronto.com/">Essen</a></li>
        <li><a href="http://www.feasto.ca/ ">FeasTO</a></li>
        <li><a href="http://gusto101.squarespace.com/">Gusto101</a></li>
        <li><a href="http://farmhousehospitality.tumblr.com/">Farmer’s Daughter</a></li>
        <li><a href="http://www.fondalola.ca/">Fonda Lola</a></li>
        <li><a href="http://www.thegabardine.com/">Gabardine</a></li>
        <li><a href="http://geraldinetoronto.com/">Geraldine</a></li>
        <li><a href="http://hawthorneto.ca/">Hawthorne</a></li>
        <li><a href="http://itsallgrk.com/">It’s All GRK</a></li>
        <li><a href="http://www.lindseybakes.com/">Lindsey Bakes</a></li>
        <li><a href="http://meandmine.ca/">Me & Mine</a></li>
        <li><a href="http://momofuku.com/toronto/shoto/">Momofuku Shoto </a></li>
        <li><a href="http://www.oysterboy.ca/">Oyster Boy</a></li>
        <li><a href="http://peopleseatery.com/">People’s Eatery</a></li>
        <li><a href="http://pizzerialibretto.com/">Pizzeria Libretto</a></li>
        <li><a href="https://instagram.com/cheftallis/">Providore Catering </a></li>
        <li><a href="http://rasabar.ca/">Rasa</a></li>
        <li><a href="http://www.smalltownbar.com/">Small Town Food Co.</a></li>
        <li><a href="http://www.smokesignalsbarbecue.ca/#ourstory">Smoke Signals</a></li>
        <li><a href="http://sullivanandbleeker.com">Sullivan and Bleeker</a></li>
        <li><a href="http://www.thepassenger.co/">The Passenger</a></li>
        <li><a href="http://thestop.org">The Stop Community Food Centre</a></li>
        <li><a href="http://www.torisbakeshop.ca/">Tori’s Bakeshop</a></li>
        <li><a href="http://www.toritotapasbar.com/">Torito</a></li>
        <li><a href="https://twitter.com/gilltrish">Trish Gill</a></li>
        <li><a href="http://union72.ca/">Union</a></li>
        <li><a href="http://www.universalgrill.ca/">Universal Grill</a></li>
        <li><a href="http://valdezrestaurant.com/">Valdez</a></li>
        <li><a href="http://www.thewhippoorwill.com/">Whippoorwill</a></li>
      </ul>
    </div>
    <div class="lineup_category" id="day-one-drink">
      <p class="category">Drink</p>
      <ul>
        <li><a href="http://alchemypicklecompany.ca/">Alchemy</a></li>
        <li><a href="http://www.amsterdambeer.com/ ">Amsterdam Brewery</a></li>
        <li><a href="http://dillons.ca/ ">Dillons Distillers</a></li>
        <li><a href="http://greatlakesbeer.com/ ">Great Lakes Brewery</a></li>
        <li><a href="http://www.malivoire.com/ ">Malivoire Wine</a></li>
        <li><a href="http://www.rosewoodwine.com/">Rosewood Estates</a></li>
        <li><a href="http://reunionislandcoffee.offshootwpn.com/">Reunion Island Coffee</a></li>
        <li><a href="http://ontariocraftcider.com/ ">Ontario Cider Association</a></li>
        <li><a href="http://ontariosake.com/ ">Ontario Sake</a></li>
        <li><a href="http://www.sweetgrassbeer.com/">Sweetgrass Brewing Co.</a></li>
        <li><a href="http://beaus.ca/ ">Beau’s</a></li>
        <li><a href="http://www.thelivingvine.ca/">The Living Vine</a></li>
      </ul>
    </div>
    <div class="lineup_category" id="day-one-performers">
      <p class="category">Performers</p>
      To be announced!
    </div>
  </div>
  <div class="parallax-window" data-parallax="scroll" data-image-src="images/3.png" data-bleed="50"></div>
  <div class="greener content day_two lineup">
    <div class="lineup_category" id="day-two-food">
      <p class="category">Food</p>
      <ul>
        <li><a href="https://twitter.com/the47TO">The 47</a></a></li>
        <li><a href="http://www.abokichi.com/">Abokichi</a></li>
        <li><a href="http://barque.ca/">Barque</a></li>
        <li><a href="https://www.facebook.com/bluegoosepurefoods">Blue Goose</a></li>
        <li><a href="http://barfancy.ca/">Bar Fancy</a></li>
        <li><a href="http://www.torontolife.com/daily-dish/restaurants-dish/2015/03/20/branca-opening-slider-restaurant/">Branco</a></li>
        <li><a href="http://www.cafe-bar-pasta.com/">Café Bar Pasta </a></li>
        <li><a href="http://carmensayz.com/">Carmen</a></li>
        <li><a href="http://www.groundworkfood.com/">Scout Canning</a></li>
        <li><a href="http://thecitizento.com/">Citizen Catering</a></li>
        <li><a href="http://thedockellis.com/">Dock Ellis</a></li>
        <li><a href="http://dundasparkkitchen.ca/">Dundas Park Kitchen</a></li>
        <li><a href="http://sociale.ca/">Enoteca Sociale</a></li>
        <li><a href="http://www.elcaballito.ca/">El Caballito</a></li>
        <li><a href="http://www.emersonrestaurant.com/">Emerson</a></li>
        <li><a href="http://farmhousehospitality.tumblr.com/">Farmhouse Tavern</a></li>
        <li><a href="http://thegalettegirls.tumblr.com/">The Galette Girls</a></li>
        <li><a href="http://www.grasslands.to/">Grasslands</a></li>
        <li><a href="http://www.theharbordroom.com/home.php ">Harbord Room</a></li>
        <li><a href="http://thrandco.com/ ">THR&Co.</a></li>
        <li><a href="https://www.facebook.com/hellodarlingcafe ">Hello Darling</a></li>
        <li><a href="http://www.heymeatball.com/">Hey Meatball</a></li>
        <li><a href="http://lacarnita.com/">La Carnita</a></li>
        <li><a href="http://madmaple.ca/">Mad Maple</a></li>
        <li><a href="http://www.maizal.ca/">Maizal</a></li>
        <li><a href="http://midfieldwinebar.com/">Mid Field</a></li>
        <li><a href="http://www.stnnana.com/">Nana</a></li>
        <li><a href="http://www.oysterboy.ca/">Oyster Boy</a></li>
        <li><a href="http://rdspadina.com/">R&D</a></li>
        <li><a href="http://richmondstation.ca/">Richmond Station</a></li>
        <li><a href="http://roseandsons.ca/">Rose & Sons</a></li>
        <li><a href="http://www.seawitchfc.com/ ">Sea Witch Fish & Chips</a></li>
        <li><a href="http://splendido.ca/">Splendido</a></li>
        <li><a href="http://sugar-mammas.com/index_page.html">Sugar Mamma’s Mini Donuts</a></li>
        <li><a href="http://thestop.org">The Stop Community Food Centre</a></li>
        <li><a href="http://woodlottoronto.com/">Woodlot</a></li>
      </ul>
    </div>
    <div class="lineup_category" id="day-two-drink">
      <p class="category">Drink</p>
      <ul>
        <li><a href="http://www.hiddenbench.com/ ">Hidden Bench</a></li>
        <li><a href="http://www.junctioncraftbrewing.com/jcb/">Junction Craft Brewing</a></li>
        <li><a href="http://lowbrewco.com/">Lake of Woods Brewing Co.</a></li>
        <li><a href="http://www.muskokabrewery.com/">Muskoka Brewery</a></li>
        <li><a href="http://benjaminbridge.com/wines/nova-7">Nova 7</a></li>
        <li><a href="http://www.rosehallrun.com/ ">Rosehall Run</a></li>
        <li><a href="http://reunionislandcoffee.offshootwpn.com/">Reunion Island Coffee</a></li>
        <li><a href="http://peakdrive.ca/ ">Peak Drive</a></li>
        <li><a href="http://www.tawsewinery.ca/">Tawse Winery</a></li>
        <li><a href="https://www.facebook.com/tipicular.fixins ">Tipicular Fixin’s and Bacardi</a></li>
        <li><a href="http://www.alpenz.com/images/poftfolio/dolinvermouthfacts.htm ">Dolin Vermouth</a></li>
        <li><a href="http://keep6imports.com/">Keep 6</a></li>
        <li><a href="http://barvolo.com/">Bar Volo</a></li>
        <li><a href="https://sailorjerry.com/en/">Sailor Jerry</a></li>
      </ul>
    </div>
    <div class="lineup_category" id="day-two-performers">
      <p class="category">Performers</p>
      To be announced!
    </div>
  </div>
  <div class="parallax-window" data-parallax="scroll" data-image-src="images/4.png" data-bleed="50"></div>
  <div class="greenest content lineup">
    <div class="lineup_category designers-section" id="designers">
      <p class="category">Designers</p>
      <ul>
        <li>
          <a href="">Agents of Urban Change </a>
          <p>Craig England , Owan Harris , Goran Sudetic</p>
        </li>
        <li>
          <a href="">AGO - Art Gallery of Ontario</a>
          <p>Renee Bellefeuille , Beth Bruno</p>
        </li>
        <li>
          <a href="">Allo Studio</a>
          <p>Stephanie Bowles , Joahanna Cabalu</p>
        </li>
        <li>
          <a href="">Ay Bee See Stop</a>
          <p>Xander Cummins , Pooneh Khaleghi , Adriana Lychacz</p>
        </li>
        <li>
          <a href="">Book</a>
          <p>Stephanie Boutari , Adam Schwartzentruber , Delores Schwartzentruber , Luke Schwartzentruber</p>
        </li>
        <li>
          <a href="">Boyashi Design</a>
          <p>Petra Bogias , Alan Kobayashi</p>
        </li>
        <li>
          <a href="">Brothers Dressler</a>
          <p>Lars Dressler</p>
        </li>
        <li>
          <a href="">Can Touch This</a>
          <p>Evelyne Au-Navioz,  Robert Giusti , Sisley Leung</p>
        </li>
        <li>
          <a href="">Chanel Dehond (THE C00P)</a>
          <p>Chanel Dehond</p>
        </li>
        <li>
          <a href="">Cheng Leslie & Partners</a>
          <p>Emily Cheng,  Vivien Cheng , Pari Desai , Brian Hamelin , Erin Leslie</p>
        </li>
        <li>
          <a href="">Design + Build + Grow</a>
          <p>Margot de Man,  Mark Grimsrud,  Matthew Ives , Sarah Ives,  Ron Noble , Newton Xian</p>
        </li>
        <li>
          <a href="">Dialogue 38</a>
          <p>Victoria Kwon,  Emily Yoon</p>
        </li>
        <li>
          <a href="">Dialogue38</a>
          <p>Sharlene Yuquico</p>
        </li>
        <li>
          <a href="">Discreet and Discrete</a>
          <p>Maiwenn Castellan , Thomas King , Sean Kosonic , Gideon Naf,  Lucas Winters</p>
        </li>
        <li>
          <a href="">Fricassee Collective</a>
          <p>Stewart Evans , Katt Gudov , Stewart Hupple , Laura McClure , Kat Nebesna</p>
        </li>
        <li>
          <a href="">G.I.D</a>
          <p>Joseph Costanza , Jonathan Day,  Marcus Parisi</p>
        </li>
        <li>
          <a href="">Gensler</a>
          <p>Angela Bachetti , Kelly Fishman,  Jonathan Lim , Michael Otchie</p>
        </li>
        <li>
          <a href="">Infinite Destination</a>
          <p>Maral Ali-mirzaei , Faezeh Ehsani , Saghi Malekanian , Bahar Zaeem</p>
        </li>
        <li>
          <a href="">Ingrain</a>
          <p>Kannishaa Loganathan , Emily Weir , Aarti Yajnik</p>
        </li>
        <li>
          <a href="">J3SM</a>
          <p>Heejin Jeong , Keshvar Merchant , Amy Shim , Miko Stagg , Shannon Sun</p>
        </li>
        <li>
          <a href="">LAMAS</a>
          <p>Vivian Lee , James Macgillivray , Clara Syme</p>
        </li>
        <li>
          <a href="">MarkUp</a>
          <p>Carolyn Fearman,  Melanie Liaw</p>
        </li>
        <li>
          <a href="">ninety3/4</a>
          <p>Elizabeth Hum , Vivian Kwok , Janet Lam , Samantha Lee Chan</p>
        </li>
        <li>
          <a href="">one:one</a>
          <p>Suhaib Amaoot,  Dakota Wares-Tani</p>
        </li>
        <li>
          <a href="">Outsider Spatial</a>
          <p>Josimar Dominguez , Mark Francis , Jenny Shearman , Andrew Winters</p>
        </li>
        <li>
          <a href="">PHurson</a>
          <p>Peter Hurson</p>
        </li>
        <li>
          <a href="">Raw</a>
          <p>Alex Manojlovich,  Eric Reid , Sonya Terek</p>
        </li>
        <li>
          <a href="">RAWRiders</a>
          <p>Eric Govan , Shank Jacob , Sean Robbins</p>
        </li>
        <li>
          <a href="">Salt & Light</a>
          <p>Chloe Leung , Vivien Li , Joelle Tso</p>
        </li>
        <li>
          <a href="">Society & Co. </a>
          <p>Ken Lam , Nicholas Chen-Yin</p>
        </li>
        <li>
          <a href="">Sprout</a>
          <p>Jessica Lockwood , Kayley Mullings</p>
        </li>
        <li>
          <a href="">Straus Design</a>
          <p>Aimee Bender, Adam Straus , Brad Straus , Aaron Summerfield </p>
        </li>
        <li>
          <a href="">studio 781</a>
          <p>Shelley Ludman , Welland Sin , Alana Young</p>
        </li>
        <li>
          <a href="">T2+A+I+L</a>
          <p>Tara Keens-Douglas , Abe Galway , Ian Huff , Lisa Rajkumar-Maharaj , Tyler Walker</p>
        </li>
        <li>
          <a href="">TANK</a>
          <p>Michael Bootsma , Tiffany Chiang , Whitney Lynn , Terry Sin , Mike Taylor</p>
        </li>
        <li>
          <a href="">Team 11</a>
          <p>Nicholas Ager , Matthew Gelowitz , Matthew McQuire , Gerald Karaguni</p>
        </li>
        <li>
          <a href="">Teeple Architects Inc.</a>
          <p>Martin Baron,  Amanda Chong , Jeff Hanning , Bridget Kane , Mahsa Majidian , Matt Peddie , Thilani Rajarathna</p>
        </li>
        <li>
          <a href="">Agents of Urban Change </a>
          <p>Roman Fomin , Sonali Kallianpur , Naomi Leitman , Corissa Maclellan</p>
        </li>
      </ul>
    </div>
    <div class="lineup_category sponsors-section" id="sponsors">
      <p class="category">Sponsors</p>
      <!-- <p>Sous Chef</p><br> -->
      <img src="images/logos/blue_goose.png">
      <img src="images/logos/coleman.png">
      <!-- <p>Garde Manager</p><br> -->
      <img src="images/logos/neal_brothers.png">
      <!-- <p>In-Kind</p><br> -->
      <img src="images/logos/autoshare.png">
      <img src="images/logos/boulart.png">
      <img src="images/logos/fiesta_farms.png">
      <img src="images/logos/now.jpg">
    </div>
  </div>
  <div class="parallax-window" data-parallax="scroll" data-image-src="images/5.png" data-bleed="50"></div>
  <div class="greener content lineup">
    <div class="lineup_category committee-section" id="committee">
      <p class="category">Committee</p>
      <ul>
        <li class="lianne"><span>Lianne Holland </span></li>
        <li class="kathe"><span>Kathe Rogers </span></li>
        <li class="jackie"><span>Jackie Pal </span></li>
        <li class="alex"><span>Alex Bordokas</span>  </li>
        <li class="bryn"><span>Bryn Bratton Wall </span></li>
        <li class="chloe"><span>Chloe Brown </span></li>
        <li class="jonathan"><span>Jonathan Broderick</span></li>
        <li class="lorne"><span>Lorne Covant  </span></li>
        <li class="heather"><span>Heather DeGaw</span></li>
        <li class="sahar"><span>Sahar Ghafouri-Bakhsh</span></li>
        <li class="kristina"><span>Kristina Groeger</span></li>
        <li class="timea"><span>Timea Jakab</span> </li>
        <li class="jacqueline"><span>Jacqueline Kay  </span></li>
        <li class="kristen"><span>Kristen Lim Tung</span></li>
        <li class="thomas"><span>Thomas Masmejean</span></li>
        <li class="zinta"><span>Zinta Steprans</span></li>
      </ul>
      <div class="member_info kristina">
        <div class="member_image">
          <img src="images/committee/kristina.jpg"/>
        </div>
        <div class="member_bio">
          <span>Kristina Groeger</span>
          <p>Kristina is culinary director, food stylist, visual artist, and junior web developer. In her free time Kristina builds websites, maintains a personal visual art blog, and volunteers as an event planner. She has been working in the food industry for over 10 years. <br>Favourite vegetable: Beet</p>
        </div>
      </div>
      <div class="member_info lianne">
        <div class="member_image">
          <img src="images/committee/lianne.jpg"/>
        </div>
        <div class="member_bio">
          <span>Lianne Holland</span>
          <p>this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy </p>
        </div>
      </div>
      <div class="member_info bryn">
        <div class="member_image">
          <img src="images/committee/bryn.jpg"/>
        </div>
        <div class="member_bio">
          <span>Bryn Bratton Wall </span>
          <p>this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy </p>
        </div>
      </div>
      <div class="member_info heather">
        <div class="member_image">
          <img src="images/committee/heather.jpg"/>
        </div>
        <div class="member_bio">
          <span>Heather DeGaw</span>
          <p>Heather combines her interest in design, people, and social impact by designing human-centred products and services during the day, and experimenting with food and ideas by night. Heather highly encourages you to ignore your parents and play with your food. <br>Favourite vegetable: Mushrooms</p>
        </div>
      </div>
      <div class="member_info jacqueline">
        <div class="member_image">
          <img src="images/committee/jacqueline.jpg"/>
        </div>
        <div class="member_bio">
          <span>Jacqueline Kay  </span>
          <p>this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy </p>
        </div>
      </div>
      <div class="member_info kathe">
        <div class="member_image">
          <img src="images/committee/kathe.jpg"/>
        </div>
        <div class="member_bio">
          <span>Kathe Rogers </span>
          <p>this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy </p>
        </div>
      </div>
      <div class="member_info chloe">
        <div class="member_image">
          <img src="images/committee/chloe.jpg"/>
        </div>
        <div class="member_bio">
          <span>Chloe Brown </span>
          <p>Chloe is the Communications and Marketing Coordinator at Community Food Centres Canada. She has worked for the Greenbelt Fund and the Ontario Culinary Tourism Alliance, and is a long-time supporter of The Stop, previously volunteering weekly in their drop-in. Chloe completed her Masters at Simon Fraser University in association with the Canadian Centre for Policy Alternatives.<br>Favourite vegetables: tomatoes, asparagus, rapini, and ruby-red beets!</p>
        </div>
      </div>
      <div class="member_info sahar">
        <div class="member_image">
          <img src="images/committee/sahar.jpg"/>
        </div>
        <div class="member_bio">
          <span>Sahar Ghafouri-Bakhsh</span>
          <p>Sahar is an emphatic lover of all things tasty, celebratory, green, and good. Her journey at The Stop began over five years ago as an event volunteer, and since then she has spent many glorious hours cooking, eating and growing with the amazing Stop community. She is glad to have finally found a way to incorporate more spectacle and artistic flair into the act of eating, at The Stop’s Night Market.<br>Favourite vegetable: Broccoli</p>
        </div>
      </div>
      <div class="member_info kristen">
        <div class="member_image">
          <img src="images/committee/kristen.jpg"/>
        </div>
        <div class="member_bio">
          <span>Kristen Lim Tung</span>
          <p>Kristen is a member of the design collectives KRONA & LION and RUNE where she explores her interest in materials, craft, and merging disciplines. If you're looking for her outside of the studio you can probably find her eating with friends and family.<br>Favourite vegetable: Brussels Sprouts.</p>
        </div>
      </div>
      <div class="member_info jackie">
        <div class="member_image">
          <img src="images/committee/jackie.jpg"/>
        </div>
        <div class="member_bio">
          <span>Jackie Pal </span>
          <p>this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy </p>
        </div>
      </div>
      <div class="member_info jonathan">
        <div class="member_image">
          <img src="images/committee/jonathan.jpg"/>
        </div>
        <div class="member_bio">
          <span>Jonathan Broderick </span>
          <p>this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy </p>
        </div>
      </div>
      <div class="member_info thomas">
        <div class="member_image">
          <img src="images/committee/thomas.jpg"/>
        </div>
        <div class="member_bio">
          <span>Thomas Masmejean</span>
          <p>this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy </p>
        </div>
      </div>
      <div class="member_info alex">
        <div class="member_image">
          <img src="images/committee/alex.jpg"/>
        </div>
        <div class="member_bio">
          <span>Alex Bordokas</span>
          <p>this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy </p>
        </div>
      </div>
      <div class="member_info lorne">
        <div class="member_image">
          <img src="images/committee/lorne.jpg"/>
        </div>
        <div class="member_bio">
          <span>Lorne Covant  </span>
          <p>this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy </p>
        </div>
      </div>
      <div class="member_info timea">
        <div class="member_image">
          <img src="images/committee/timea.jpg"/>
        </div>
        <div class="member_bio">
          <span>Timea Jakab </span>
          <p>this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy </p>
        </div>
      </div>
      <div class="member_info zinta">
        <div class="member_image">
          <img src="images/committee/zinta.jpg"/>
        </div>
        <div class="member_bio">
          <span>Zinta Steprans</span>
          <p>this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy this is some copy </p>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax-window" data-parallax="scroll" data-image-src="images/6.png" data-bleed="50"></div>
  <div class="green content faq" id="faq">
      <div class="questions">
        <h3 class="faq_image image-text">FREQUENTLY ASKED QUESTIONS</h2>
        <div class="left">
          <p class="question">What is The Stop?</p>
          <p class="answer">The Stop Community Food Centre works to increase access to healthy food in a manner that maintains dignity, builds health and community, and challenges inequality. From its origins as one of Canada’s first food banks, The Stop has blossomed into a thriving community hub in Toronto’s west end. Neighbours participate in a broad-range of programs that provide healthy food, foster social connections, build food skills, and promote engagement in civic issues. Underlying all of The Stop’s efforts is the belief that food is a basic human right. <a href="http://www.thestop.org">Visit our website</a> to learn more about our innovative work.
          </p>
          <p class="question">How do I get tickets?</p>
          <p class="answer">Tickets will be available at <strong>12PM on Wednesday, May 13</strong> through the event website. Please note that tickets will be available for purchase <strong>ONLINE ONLY</strong>.<br><br>
          Although we wish we could accommodate everyone who wants to join us at The Stop’s Night Market, please note that there is a limit of four (4) tickets per order.<br><br>
          <strong>All sales are FINAL and there are NO refunds.</strong>
          </p>
          <p class="question">How does buying a ticket help The Stop?</p>
          <p class="answer">The Stop’s Night Market <strong>is a fundraiser</strong> for The Stop Community Food Centre. Our programs and innovative approach have never been more urgently needed: recent reports peg the city’s child poverty rate at 30%, the highest in the country, and there is an unabating demand for our emergency food programs. Skyrocketing housing costs, precarious employment, unliveable social assistance rates, and lack of affordable daycare are among the policy shortcomings that continue to hobble our fellow citizens and their families in their aspirations for healthy, dignified lives.<br><br>

          We rely on the generosity of our donors to maintain our programs. All proceeds raised through ticket sales for The Stop’s Night Market support our diverse range of programs, including our drop-in meals program, healthy food bank, perinatal program, community advocacy, local food markets, community cooking programs, sustainable food systems education, community gardening programs, and our state-of-the-art greenhouse and compost demonstration centre.<br><br>

          Your <strong>$100</strong> ticket purchase will provide your neighbours with access to <strong>20 meals in The Stop’s Drop-in</strong>, or <strong>healthy food hampers for four (4) families</strong> from our Food Bank, or <strong>increased access to our urban agriculture, community cooking, and education programming</strong> for children and adults in our community.<br><br>

          <strong>Feed yourself, feed everyone!</strong> </p>
          <p class="question">If it’s all-you-can-eat, then I can bring my Tupperware containers and load up for the week, right?</p>
          <p class="answer">No. Our chefs are generously donating their time and their product, and base the number of servings they offer on the number of guests expected each night. We encourage everyone to stay, sample, and enjoy everything on offer, and to remember that there are hundreds of other guests who are hoping to do the same. Please be considerate. Thank you in advance!
          </p>
          <p class="question">I really, really love The Stop – can you please make sure I get tickets?</p>
          <p class="answer">Sorry! As much as we would love for you ALL to attend, we cannot guarantee tickets. Complimentary tickets are available through <a href="mailto:cara@thestop.org?subject=I want to sponsor The Stop’s Night Market!">event sponsorship</a> only.</p>
          <p class="question">What can I do if the event sells out?</p>
          <p class="answer">We hope you will try again next year! A sold-out event means that The Stop will reach its fundraising goals and be able to continue its critical work in the community. There are many other ways you can get involved and support The Stop, so please <a href="http://www.thestop.org">visit our website</a>!</p>
        </div>
        <div class="right">
          <p class="question">What is this event all about?</p>
          <p class="answer">All proceeds from The Stop’s Night Market benefit The Stop’s critical anti-hunger and anti-poverty programs. The Stop’s Night Market celebrates diversity, community, and the power of food. Inspired by night markets from around the world, The Stop’s Night Market transforms a public space into a tantalizing feast for the senses over two nights in June, featuring over 70 chefs and over 39 one-of-a-kind food carts created by local designers.</p>
          <p class="question">What do I get when I buy a ticket?</p>
          <p class="answer">Your ticket gives you access to The Stop’s Night Market for one night only. The date of access will be chosen by you when you make your purchase. Please note the date carefully!<br><br>

          Once you enter the event, you can eat and drink AS MUCH AS YOU LIKE from our 48+ food and beverage vendors each night from 7PM to 11PM! Relish the vibrant atmosphere, vote for your favourite food cart design, connect with friends (and make new ones!), and enjoy live and interactive music and art performances.<br><br>

          The Stop’s Night Market is an opportunity to enjoy good food and to build community – something that we do at <a href="http://www.thestop.org">The Stop Community Food Centre</a> every day.
          </p>
          <p class="question">My plans changed – can I switch my ticket to the other night?</p>
          <p class="answer">You can only enter the event on the night for which your ticket is valid. There are no exceptions. All sales are final, no exchanges and no refunds can be issued.</p>
          <p class="question">Will there be options for vegans and vegetarians?</p>
          <p class="answer">Definitely!</p>
          <p class="question">Is the event 19+?</p>
          <p class="answer">Yes! Wine, beer, and spirits will be available throughout the evening. <strong>Please bring a valid photo I.D. No one under the age of 19 will be admitted.</strong></p>
          <p class="question">Will there be non-alcoholic drinks available?</p>
          <p class="answer">Definitely!</p>
          <p class="question">Can I bring my baby? What about my dog?</p>
          <p class="answer">Strollers are not permitted at this event and will be turned away at the entrance. No one under the age of 19 will be admitted, but, if you must bring your baby, you must use a carrier (and we strongly recommend headphones, too). Dogs or animals of any kind will not be permitted at this event, so please plan accordingly. </p>
          <p class="question">Is the event venue accessible?</p>
          <p class="answer">Yes! There are no physical barriers at the venue. If you have concerns about accommodations that may be required, please <a href="mailto:lianne@thestop.org">contact us</a>.</p>
          <p class="question">What else can I do at Night Market besides eat?</p>
          <p class="answer">Mix and mingle, check out the unique designs created for our food carts, enjoy live and interactive music and art performances, including each night’s <strong>featured performance</strong> (link to performances), and learn more about the impact your ticket purchase will have on The Stop’s programs and community.</p>
          <p class="question">What happens if it rains?</p>
          <p class="answer">The Stop’s Night Market is happening rain or shine, so dress appropriately for the weather! <a href="https://www.facebook.com/media/set/?set=a.568481536597936.1073741829.224862447626515&type=3">Check out our Facebook Page</a> to see how we managed to have fun during last year’s rainstorm! Just a reminder, there are no refunds.</p>
        </div>
      </div>
    </div>
  <div class="white content details" id="details">
    <div class="info">
      <p><span>Location</span><a href="https://www.google.ca/maps/place/181+Sterling+Rd,+Toronto,+ON+M6R/@43.6547254,-79.4449428,17z/data=!3m1!4b1!4m2!3m1!1s0x882b3448fbc7e869:0x7ef8b34d90bc0076" target="_blank">181 Sterling Road</a></p>
      <p><span>Date</span>June 16 – June 17</p>
      <p><span>Time</span>7PM – 11PM</p>
      <p class="tickets image-text">Tickets on sale May 13</p>
      <p class="stop-id">The Stop Community Food Centre charitable # 1191-92763-RR0001</p>
    </div>

</div>
